/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.edge-padding {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.float-left {
  float: left;
  margin-right: 20px;
}

.escape-top {
  margin-top: 50px;
}

.escape-navbar {
  margin-top: 60px;
}

.end-padding {
  margin-bottom: 50px;
}